.head {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Ensures the heading is large enough */
}

.mummy {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cancel {
    position: absolute;
    cursor: pointer;
    color: rgb(121, 117, 117);
    top: 20px;
    right: 20px;
    background: none;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(121, 117, 117);
    border-radius: 7px;
    padding: 5px;
}

.sub {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.sub span {
    flex: 1;
    font-size: 16px;
    text-align: center;
}

.product {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}



.cart-footer123 {
    display: flex !important;  
    flex-direction: row;
    justify-content: space-between !important;
    padding: 10px !important;
}