.head{
   
    text-align: center; /* Centers the main heading */
    margin-bottom: 20px;
    width: 150px;

}

.cancel{
    position: absolute;
    cursor: pointer;
    color: rgb(121, 117, 117);
    top: 0;
    right: 0;
    margin: 20px;
    background: none;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(121, 117, 117);
    border-radius: 7px;
    padding: 5px;
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* Optional: Adds a border under subheadings */
}





.sub h2 {
    flex: 1; /* Makes each subheading take equal space */
    font-size: medium;
    text-align: center; /* Centers the text in each subheading */
  }

.x{
 border: 1px solid green;
 padding: 4px;
 margin: 15px;
}


.product-ul{
    display: flex;
    flex-direction: column;
}