.mini{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0%;
    margin-bottom: 2rem;
    
   

}



.miniImage{
    width: 70px;
    height:auto;
    margin:0 auto;
}

.title{
    display: flex;
    justify-content: center;
    
    height: 40px;
    width: 80px;
}

.button{
    width: 90px;
    height: 40px;
}


.mega{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}