.products {
    display: flex;
    flex-direction: row;
    
}

.pro {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
   
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
}

.title h1{
   
    font-size: 17px; 
    width: 100%;
    text-overflow: clip;
    height: 20px;
 
    display: flex;
    justify-content: center;
}

.image img {
    height: 250px;
    width: 250px;
    overflow: hidden;
 
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer p{
    width: 30px;
    
    
}



