.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* Two columns of equal width */
    gap: 20px;
}

.pro {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-around;
}

.title h1{
   
    font-size: 17px; 
    width: 100%;
    text-overflow: clip;
    height: 20px;
 
    display: flex;
    justify-content: center;
}

.image img {
    height: 250px;
    width: 250px;
    overflow: hidden;
 
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer p{
    width: 30px;
    
    
}



