label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  button {
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    background-color: #6c757d;
  }
  
  button[type="button"]:hover {
    background-color: #5a6268;
  }
  
  button + button {
    margin-top: 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    
    text-align: center;
    margin: 0 auto;
  }

  .password-input-container {
    display: flex;
    align-items: center;
  }
  
  .eye-icon {
    font-size: 18px; /* Adjust as needed */
    margin-left: 10px;
    cursor: pointer;
  }
  
  